footer
{
    text-align: center;
    margin: 2em 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
    padding: 1em 4em;
}
